body {
    font-family: "Helvetica", sans-serif;
    font-size: 24px;
    height: 100vh;
    width: 90vw;
    color: floralwhite;
    text-align: center;
    background: linear-gradient(-45deg, #fefcff, #e3a4ea, #8f55aa, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    }

    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @-moz-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    @keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
    }

    ul {
        list-style: none;
    }

    li {
        display: inline;
    }

    a {
        color: floralwhite;
    }

    form {
        margin-bottom: 2rem;
    }
    
    input {
        display: inline-block;
    }